@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 38% 97%;
    --foreground: 28 9% 19%;

    --card: 0 0% 100%;
    --card-foreground: 28 9% 19%;

    --popover: 0 0% 100%;
    --popover-foreground: 28 9% 19%;

    --primary: 21 78% 52%;
    --primary-foreground: 39 38% 97%;

    --secondary: 82 16% 50%;
    --secondary-foreground: 39 38% 97%;

    --muted: 39 20% 92%;
    --muted-foreground: 25 5% 45%;

    --accent: 45 90% 60%;
    --accent-foreground: 28 9% 19%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 39 38% 97%;

    --border: 25 18% 87%;
    --input: 25 18% 87%;
    --ring: 21 78% 52%;

    --radius: 0.5rem;

    --sidebar-background: 21 78% 52%;
    --sidebar-foreground: 39 38% 97%;
    --sidebar-primary: 45 90% 60%;
    --sidebar-primary-foreground: 21 78% 52%;
    --sidebar-accent: 21 65% 45%;
    --sidebar-accent-foreground: 39 38% 97%;
    --sidebar-border: 21 65% 45%;
    --sidebar-ring: 45 90% 60%;
  }

  .dark {
    --background: 28 9% 19%;
    --foreground: 39 38% 97%;

    --card: 28 9% 19%;
    --card-foreground: 39 38% 97%;

    --popover: 28 9% 19%;
    --popover-foreground: 39 38% 97%;

    --primary: 21 78% 52%;
    --primary-foreground: 39 38% 97%;

    --secondary: 82 16% 45%;
    --secondary-foreground: 39 38% 97%;

    --muted: 25 10% 25%;
    --muted-foreground: 39 30% 80%;

    --accent: 45 70% 50%;
    --accent-foreground: 28 9% 19%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 39 38% 97%;

    --border: 25 10% 25%;
    --input: 25 10% 25%;
    --ring: 21 78% 52%;

    --sidebar-background: 21 65% 45%;
    --sidebar-foreground: 39 38% 97%;
    --sidebar-primary: 45 70% 50%;
    --sidebar-primary-foreground: 21 65% 45%;
    --sidebar-accent: 21 50% 35%;
    --sidebar-accent-foreground: 39 38% 97%;
    --sidebar-border: 21 50% 35%;
    --sidebar-ring: 45 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
